*{
    font-family: 'Quantico', sans-serif;
}
.name{
    display: inline-block;
    width: 135px;
}
.devour{
    display: inline-block;

}
body{
    background-color: #FFE030;
    width: 940px;
}
#krusty{
width:200px;
height:200px;
}

#title{
    position: relative;
    left: 39%;
}
#ready{
    position: relative;
    display: inline-block;
    left: 6%;
    margin-right:50px;
}
#devoured{
    position: relative;
    display: inline-block;
    left: 38%;
}
#d-title{
    position: relative;
    left:10%;
}
.center{
    width:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
#submit{
    position: relative;
    left:33%;
    background-color: #5F8CBF;
    border-radius: 5px;
}